$background-color: #fff695;
$link-color: #656565;
$link-background-color: #f1f5f7;
$card-background-color: white;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#footer-grid {
  display: none;
}

.footer {
  background: $background-color;
  padding: 1rem 0;
}

.grid-s {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 1rem;
  grid-template:
    'top top'
    'center center'
    'bottom-left bottom-right';

  &__top {
    grid-area: top;
  }

  &__center {
    grid-area: center;
  }

  &__bottom-left {
    grid-area: bottom-left;
    display: flex;
    align-items: flex-end;

    h4 {
      font-size: 13px;
      font-weight: bold;
    }

    p {
      font-size: 12px;
    }
  }

  &__bottom-right {
    grid-area: bottom-right;
  }
}

.footer-s {
  &__card {
    display: flex;
    align-items: center;
    height: 100px;
    overflow: hidden;
    padding: 1rem;
    background: $card-background-color;
    box-shadow: 0 0 5px rgba(#000, 0.1);
    border-radius: 10px;

    .card-text {
      margin-left: 1rem;
    }
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    width: 100%;
  }

  &__link {
    flex: 1 1 auto;
    color: $link-color;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background: $card-background-color;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(#000, 0.1);

    &:visited {
      color: $link-color;
    }

    &:hover,
    &:focus,
    &:active {
      color: #000;
      background: $link-background-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.icon-2x {
  font-size: 2rem;
}

@media screen and (min-width: 1000px) {
  #footer-grid-s {
    display: none;
  }

  #footer-grid {
    display: block;
  }

  .footer {
    &::after {
      content: '';
      display: block;
      clear: both;
    }

    &__grid {
      margin: auto;
      width: 90%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      column-gap: 1rem;
    }

    &__item {
      margin-top: 2rem;
    }

    &__links {
      display: flex;
      list-style-type: none;

      > .footer__link + .footer__link {
        margin-left: 1rem;
      }
    }

    &__link {
      flex: 1 1 auto;
      color: $link-color;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      padding: 1rem;
      background: $card-background-color;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(#000, 0.1);
      overflow: hidden;
      text-overflow: ellipsis;

      &:visited {
        color: $link-color;
      }

      &:hover,
      &:focus,
      &:active {
        color: #000;
        background: $link-background-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__card {
      height: 150px;
      overflow: hidden;
      padding: 1rem;
      margin-top: 1.5rem;
      background: rgba($card-background-color, 0.59);
      border-radius: 20px;
    }

    &__card-info {
      display: none;
      animation-duration: 0.5s;
      animation-name: fadeOutOpacity;

      &--active {
        display: block;
        animation-duration: 0.5s;
        animation-name: fadeInOpacity;
      }

      a {
        color: darken($link-color, 25%);
        text-decoration: none;
        font-weight: bold;
      }

      a:visited {
        color: darken($link-color, 25%);
      }

      a:hover,
      a:focus,
      a:active {
        color: #000;
        text-decoration: underline;
        cursor: pointer;
      }

      ul {
        list-style-type: none;
      }

      h4 {
        font-size: 1.1rem;
      }
    }

    &__publisher {
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      float: right;

      h4 {
        font-size: 13px;
        font-weight: bold;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .social-icons {
    a {
      color: $link-color;
    }

    a:hover,
    a:focus {
      color: black;
    }

    .social-icon {
      width: 50px;
      height: 50px;
      font-size: 3rem;
      padding: 0.5rem 0.5rem;
    }
  }

  @keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOutOpacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 1500px) {
}
