* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#footer-grid {
  display: none;
}

.footer {
  background: #fff695;
  padding: 1rem 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.grid-s {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 1rem;
  grid-template: "top top" "center center" "bottom-left bottom-right";
}
.grid-s__top {
  grid-area: top;
}
.grid-s__center {
  grid-area: center;
}
.grid-s__bottom-left {
  grid-area: bottom-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.grid-s__bottom-left h4 {
  font-size: 13px;
  font-weight: bold;
}
.grid-s__bottom-left p {
  font-size: 12px;
}
.grid-s__bottom-right {
  grid-area: bottom-right;
}

.footer-s__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  overflow: hidden;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.footer-s__card-text {
  margin-left: 1rem;
}
.footer-s__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.5rem;
  width: 100%;
}
.footer-s__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #656565;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer-s__link:visited {
  color: #656565;
}
.footer-s__link:hover, .footer-s__link:focus, .footer-s__link:active {
  color: #000;
  background: #f1f5f7;
  text-decoration: underline;
  cursor: pointer;
}
.footer-s__icon-2x {
  font-size: 2rem;
}

@media screen and (min-width: 1000px) {
  #footer-grid-s {
    display: none;
  }

  #footer-grid {
    display: block;
  }

  .footer::after {
    content: "";
    display: block;
    clear: both;
  }
  .footer__grid {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
  .footer__item {
    margin-top: 2rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 1rem;
    list-style-type: none;
  }
  .footer__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    color: #656565;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer__link:visited {
    color: #656565;
  }
  .footer__link:hover, .footer__link:focus, .footer__link:active {
    color: #000;
    background: #f1f5f7;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__card {
    height: 150px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 20px;
  }
  .footer__card-info {
    display: none;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: fadeOutOpacity;
            animation-name: fadeOutOpacity;
  }
  .footer__card-info--active {
    display: block;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
  }
  .footer__card-info a {
    color: #252525;
    text-decoration: none;
    font-weight: bold;
  }
  .footer__card-info a:visited {
    color: #252525;
  }
  .footer__card-info a:hover,
.footer__card-info a:focus,
.footer__card-info a:active {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__card-info ul {
    list-style-type: none;
  }
  .footer__card-info h4 {
    font-size: 1.1rem;
  }
  .footer__publisher {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    float: right;
  }
  .footer__publisher h4 {
    font-size: 13px;
    font-weight: bold;
  }
  .footer__publisher p {
    font-size: 12px;
  }
  .footer__social-icons {
    overflow: hidden;
  }
  .footer__social-icons a {
    color: #656565;
  }
  .footer__social-icons a:hover,
.footer__social-icons a:focus {
    color: black;
  }
  .footer__social-icon {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    padding: 0.5rem 0.5rem;
  }

  @-webkit-keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOutOpacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeOutOpacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.nav {
  width: 100vw;
  height: 60px;
  right: 0%;
  position: fixed;
  z-index: 10;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: transparent;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav .logo {
  overflow: hidden;
}

.nav .logo img {
  width: 80px;
  margin-top: 7px;
  margin-left: 10px;
}

.nav ul {
  background-color: #2F2D36;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  padding: 0 5%;
  margin: 10px 5% 0 0;
  border-radius: 40px;
}

.nav ul li {
  color: white;

}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul li a:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;

}

.nav ul li #mina-sidor {
  color: #FFF695;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul li #mina-sidor:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul .anpassing {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}

.nav ul .anpassing img {
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul .anpassing img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav .fa-bars {

  display: none;
  font-size: 40px;
  margin-right: 7%;
  margin-top: 30px;
  cursor: pointer;
}

.nav-scrolled {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.nav-scrolled .logo {
  display: none;
}

.nav-scrolled #normal-nav {
  width: 100%;
  margin: 0;
  padding: 0 10%;
  border-radius: 0;

}

@media screen and (max-width: 1500px) {
  .nav {
    width: 100vw;
    height: 80px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .logo {
    overflow: hidden;
    margin-top: 13px;
    margin-left: 5%;

  }
  .nav .logo img {
    width: 80px;
    margin-top: 7px;
    margin-left: 10px;
  }
  .nav ul {
    background-color: #2F2D36;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 10vh 0;
    border-radius: 0px;
    display: none;
    opacity: 0;
  }
  .nav ul li {
    color: white;
  }
  .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .nav ul .anpassing {
    width: 30%;
  }
  .nav .fa-bars {

    display: block;
    z-index: 11;
  }
  .nav #drop {
    background-color: #2F2D36;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  .nav-scrolled {
    background-color: #2F2D36;
    height: 100px;
  }
  .nav-scrolled .logo {
    display: block;
    visibility: hidden;
  }
  .nav-scrolled #normal-nav {
    width: 100%;
    margin: 0;
    padding: 0 10%;
    border-radius: 0;
  }
  .nav-scrolled .fa-bars {

    color: white;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  border-color: transparent;
  letter-spacing: 0.5px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 100%;
  background-color: #f1f5f7;
}
body h1 {
  width: 1700px;
  padding-top: 100px;
  padding-left: 200px;
  color: #2f2d36;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
body .text-block {
  width: 1700px;
  padding-left: 200px;
}
body .text-block h2 {
  width: 400px;
  margin-right: 1000px;
  color: #656565;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

main {
  height: 100%;
  margin-top: 60px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  padding-left: 2.5%;
}
.main-panel .card {
  padding: 30px;
  width: 1050px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.main-panel .card h2 {
  display: none;
}
.main-panel .card .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}
.main-panel .card .card-container img {
  position: absolute;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 20px -10px rgba(0, 0, 0, 0.6);
          box-shadow: -4px 4px 20px -10px rgba(0, 0, 0, 0.6);
}
.main-panel .card .card-container h3 {
  padding-left: 120px;
  color: #2f2d36;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
}
.main-panel .card .card-container p {
  padding-left: 120px;
  color: #656565;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 80%;
  margin-top: 8px;
}
.main-panel .card .card-container .pdf-title {
  padding-top: 30px;
  font-weight: 800;
  color: #6387f3;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  cursor: pointer;
}

.main-panel .card .card-container .pdf-title:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;

}
.main-panel .card .card-container time {
  color: #656565;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.main-panel .page-selector {
  margin: 30px 0 30px 275px;
  width: 500px;
  height: 80px;
  background-color: white;
  border-radius: 40px;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-panel .page-selector ul {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-panel .page-selector ul li {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.main-panel .page-selector ul li a {
  color: #656565;
  text-decoration: none;
}

.side-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 850px;
  padding-left: 5%;
  padding-right: 7%;
}
.side-menus h2 {
  display: none;
}

#check {
  display: none;
}

.filter-btn {
  width: 300px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 30px;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2f2d36;
}

.aside-drop-menu {
  width: 330px;
  height: 0px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.aside-drop-menu div {
  overflow: hidden;
}
.aside-drop-menu p {
  padding: 0 0 0 17px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #2f2d36;
}
.aside-drop-menu ul {
  padding: 0 0 0 17px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #656565;
}
.aside-drop-menu ul li {
  padding-top: 5px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.aside-drop-menu ul li:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.filter-checkbox:checked ~ aside {
  height: 690px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1500px) {
  body h1 {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block {
    width: 100%;
    padding-left: 10%;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }

  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .main-panel .card {
    width: 80%;
    margin-left: 0;
  }
  .main-panel .card .card-container {
    width: 100%;
  }
  .main-panel .page-selector {
    margin: 30px 0 30px 0;
  }

  .side-menus {
    width: 100%;
    height: 100%;
  }

  .aside-drop-menu {
    width: 90%;
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aside-drop-menu div {
    width: 33%;
  }
  .aside-drop-menu p {
    padding: 25px 0 20px 90px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #2f2d36;
  }
  .aside-drop-menu ul {
    padding: 0 0 0 90px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #656565;
  }
  .aside-drop-menu ul li {
    padding-top: 10px;
  }

  .filter-checkbox:checked ~ aside {
    height: 350px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1350px) {
  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-panel .card .card-container {
    margin-bottom: 50px;
  }
  .main-panel .card .card-container .pdf-title {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  body h1 {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block h2 {
    width: 300px;
  }

  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-panel .card {
    width: 90%;
  }
  .main-panel .page-selector {
    width: 350px;
  }

  .aside-drop-menu {
    width: 330px;
    height: 0px;
    margin-left: 30px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
            box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aside-drop-menu div {
    width: 100%;
  }
  .aside-drop-menu p {
    padding: 0 0 0 17px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #2f2d36;
  }
  .aside-drop-menu ul {
    padding: 0 0 0 17px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #656565;
  }
  .aside-drop-menu ul li {
    padding-top: 5px;
  }

  .filter-checkbox:checked ~ aside {
    height: 690px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s;
    visibility: visible;
    opacity: 1;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 750px) {
  .main-panel .card .card-container {
    padding: 10px;
  }
  .main-panel .card .card-container h3 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */