* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer-grid {
  display: none;
}

.footer {
  background: #fff695;
  padding: 1rem 0;
  width: 100%;
}

.grid-s {
  margin: auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  grid-template: 'top top' 'center center' 'bottom-left bottom-right';
}

.grid-s__top {
  grid-area: top;
}

.grid-s__center {
  grid-area: center;
}

.grid-s__bottom-left {
  grid-area: bottom-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-s__bottom-left h4 {
  font-size: 13px;
  font-weight: bold;
}

.grid-s__bottom-left p {
  font-size: 12px;
}

.grid-s__bottom-right {
  grid-area: bottom-right;
}

.footer-s__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  overflow: hidden;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.footer-s__card .card-text {
  margin-left: 1rem;
}

.footer-s__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 0.5rem;
  width: 100%;
}

.footer-s__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #656565;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer-s__link:visited {
  color: #656565;
}

.footer-s__link:hover, .footer-s__link:focus, .footer-s__link:active {
  color: #000;
  background: #f1f5f7;
  text-decoration: underline;
  cursor: pointer;
}

.icon-2x {
  font-size: 2rem;
}

@media screen and (min-width: 1000px) {
  #footer-grid-s {
    display: none;
  }
  #footer-grid {
    display: block;
  }
  .footer::after {
    content: '';
    display: block;
    clear: both;
  }
  .footer__grid {
    margin: auto;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
  .footer__item {
    margin-top: 2rem;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .footer__links > .footer__link + .footer__link {
    margin-left: 1rem;
  }
  .footer__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    color: #656565;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer__link:visited {
    color: #656565;
  }
  .footer__link:hover, .footer__link:focus, .footer__link:active {
    color: #000;
    background: #f1f5f7;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__card {
    height: 150px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 20px;
  }
  .footer__card-info {
    display: none;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: fadeOutOpacity;
            animation-name: fadeOutOpacity;
  }
  .footer__card-info--active {
    display: block;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: fadeInOpacity;
            animation-name: fadeInOpacity;
  }
  .footer__card-info a {
    color: #252525;
    text-decoration: none;
    font-weight: bold;
  }
  .footer__card-info a:visited {
    color: #252525;
  }
  .footer__card-info a:hover,
  .footer__card-info a:focus,
  .footer__card-info a:active {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__card-info ul {
    list-style-type: none;
  }
  .footer__card-info h4 {
    font-size: 1.1rem;
  }
  .footer__publisher {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    float: right;
  }
  .footer__publisher h4 {
    font-size: 13px;
    font-weight: bold;
  }
  .footer__publisher p {
    font-size: 12px;
  }
  .social-icons {
    overflow: hidden;
  }
  .social-icons a {
    color: #656565;
  }
  .social-icons a:hover,
  .social-icons a:focus {
    color: black;
  }
  .social-icons .social-icon {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
  }
  @-webkit-keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeOutOpacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeOutOpacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.nav {
  width: 100vw;
  height: 60px;
  right: 0%;
  position: fixed;
  z-index: 10;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav .logo {
  overflow: hidden;
}

.nav .logo img {
  width: 80px;
  margin-top: 7px;
  margin-left: 10px;
}

.nav ul {
  background-color: #2F2D36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  padding: 0 5%;
  margin: 10px 5% 0 0;
  border-radius: 40px;
}

.nav ul li {
  color: white;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul li a:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul li #mina-sidor {
  color: #FFF695;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul li #mina-sidor:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul .anpassing {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav ul .anpassing img {
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav ul .anpassing img:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.nav .fa-bars {
  display: none;
  font-size: 40px;
  margin-right: 7%;
  margin-top: 30px;
  cursor: pointer;
}

.nav-scrolled {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.nav-scrolled .logo {
  display: none;
}

.nav-scrolled #normal-nav {
  width: 100%;
  margin: 0;
  padding: 0 10%;
  border-radius: 0;
}

@media screen and (max-width: 1500px) {
  .nav {
    width: 100vw;
    height: 80px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .logo {
    overflow: hidden;
    margin-top: 13px;
    margin-left: 5%;
  }
  .nav .logo img {
    width: 80px;
    margin-top: 7px;
    margin-left: 10px;
  }
  .nav ul {
    background-color: #2F2D36;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 10vh 0;
    border-radius: 0px;
    display: none;
    opacity: 0;
  }
  .nav ul li {
    color: white;
  }
  .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .nav ul .anpassing {
    width: 30%;
  }
  .nav .fa-bars {
    display: block;
    z-index: 11;
  }
  .nav #drop {
    background-color: #2F2D36;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  .nav-scrolled {
    background-color: #2F2D36;
    height: 100px;
  }
  .nav-scrolled .logo {
    display: block;
    visibility: hidden;
  }
  .nav-scrolled #normal-nav {
    width: 100%;
    margin: 0;
    padding: 0 10%;
    border-radius: 0;
  }
  .nav-scrolled .fa-bars {
    color: white;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  border-color: transparent;
  letter-spacing: 0.5px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 100%;
  background-color: #F1F5F7;
}

body h1 {
  width: 1700px;
  padding-top: 100px;
  padding-left: 200px;
  color: #2F2D36;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

body .text-block {
  width: 1700px;
  padding-left: 200px;
}

body .text-block h2 {
  width: 400px;
  margin-right: 1000px;
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.mySlides {
  display: none;
}

img {
  border: 0;
}

.slideshow-container {
  height: 311px;
  width: 669px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #656565;
          box-shadow: 0 0 10px #656565;
  border: 5px;
  margin: 60px 630px 0 0;
}

.dot {
  z-index: 2;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dots-carousel {
  padding: 7px 0 0 20px;
  text-align: left;
}

div.dots-carousel {
  position: absolute;
  z-index: 5;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

div {
  display: block;
}

.controls {
  float: left;
  margin-right: 5px;
  background-image: url(/assets/stylesheets/images/icon-b-pause-dark.png);
  background-repeat: repeat-none;
}

.carousel-clip {
  position: relative;
  overflow: hidden;
  width: 669px;
  height: 311px;
}

.carousel-clip:before {
  display: table;
  content: "";
  line-height: 0;
}

.carousel-clip:after {
  display: table;
  content: "";
  line-height: 0;
}

.carousel-wrapper {
  display: block;
  text-align: start;
  float: none;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
  width: auto;
  height: 311px;
  margin: 0px;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-wrapper .carousel-item {
  display: block;
}

.carousel-item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item-caption a {
  color: #fff;
  display: block;
  padding: 16px;
}

.has-js .carousel-item {
  display: none;
}

.carousel-item {
  position: relative;
  float: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 [class^="h-"],
[class*=" h-"] {
  text-rendering: optimizeLegibility;
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

main {
  height: 100%;
  margin-top: 60px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  padding-left: 2.5%;
}

.main-panel .selector-card {
  width: 1050px;
  height: 130px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel .selector-card #checkbox1,
.main-panel .selector-card #checkbox2,
.main-panel .selector-card #checkbox3 {
  display: none;
}

.main-panel .selector-card .checkboxes {
  height: inherit;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  padding: 0 0 20px 30px;
}

.main-panel .selector-card .checkboxes label {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.main-panel .card {
  padding: 30px 30px 60px 30px;
  width: 1050px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  display: block;
}

.main-panel .card h2 {
  display: none;
}

.main-panel .card .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 50px 0;
  cursor: pointer;
}

.main-panel .card .card-container .info {
  width: 100%;
}

.main-panel .card .card-container img {
  position: absolute;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  -webkit-box-shadow: -4px 4px 20px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 4px 20px -10px rgba(0, 0, 0, 0.5);
}

.main-panel .card .card-container h4 {
  font-size: 40px;
  width: 200px;
}

.main-panel .card .card-container h3 {
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  width: 70%;
}

.main-panel .card .card-container p {
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 80%;
  margin-top: 8px;
}

.main-panel .card .card-container time {
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

button {
  margin: 40px 0 40px 0;
  width: 300px;
  height: 80px;
  border-radius: 30px;
  background-color: white;
  color: #2F2D36;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 0.7px;
  cursor: pointer;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}

.side-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 660px;
  padding-left: 5%;
  padding-right: 5%;
}

.side-menus h2 {
  display: none;
}

.link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 270px;
  border-radius: 20px;
  background-color: #2F2D36;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.link-menu ul {
  list-style: none;
  line-height: 40px;
  margin-right: 120px;
}

.link-menu a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.aside-press-kontakt {
  background-color: white;
  width: 280px;
  height: 150px;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.aside-press-kontakt h3 {
  margin: 15px 0 0 30px;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.aside-press-kontakt p {
  margin: 15px 0 0 30px;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.aside-press-kontakt ul {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-press-kontakt ul .tel,
.aside-press-kontakt ul .my-news-desk {
  width: 50px;
}

.aside-press-kontakt ul .tel a,
.aside-press-kontakt ul .my-news-desk a {
  margin-top: 4px;
  color: white;
}

.aside-press-kontakt ul .e-post {
  width: 100px;
  margin: 0 10px 0 10px;
}

.aside-press-kontakt ul .e-post a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.aside-press-kontakt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2F2D36;
  border-radius: 10px;
  height: 50px;
}

.aside-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 280px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.aside-menu h3 {
  margin: 15px 0 0 30px;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow: hidden;
}

.aside-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 70%;
}

.aside-menu-icons {
  list-style: none;
  margin-left: 30px;
}

.aside-menu-icons li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.aside-menu-list {
  width: 40%;
  margin-right: 30px;
  list-style: none;
}

.aside-menu-list li {
  margin-top: 27px;
  margin-bottom: 20px;
}

.aside-menu-list a {
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

@media screen and (max-width: 1500px) {
  body h1 {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block {
    width: 100%;
    padding-left: 10%;
  }
  .slideshow-container {
    display: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .main-panel .card {
    width: 80%;
    margin-left: 0;
  }
  .main-panel .selector-card {
    width: 85%;
    padding-right: 3%;
  }
  .side-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 900px;
    height: 380px;
    padding: 0;
  }
  .aside-menu {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 950px) {
  body h1 {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block h2 {
    width: 300px;
  }
  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-panel .selector-card {
    width: 230%;
    height: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 5%;
  }
  .main-panel .selector-card .checkboxes div {
    height: 70px;
  }
  .main-panel .selector-card .checkboxes div p {
    font-size: 15px;
  }
  .main-panel .card {
    width: 90%;
  }
  .main-panel .card .card-container {
    padding: 30px 0;
  }
  .main-panel .card .card-container .info {
    width: 70%;
    margin-right: 30%;
  }
  .main-panel .card .card-container h3 {
    font-size: 15px;
  }
  .side-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
    height: 660px;
  }
  .aside-menu {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */