* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  border-color: transparent;
  letter-spacing: 0.5px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 100%;
  background-color: #F1F5F7;
}

body h1 {
  width: 1700px;
  padding-top: 100px;
  padding-left: 200px;
  color: #2F2D36;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

body .text-block {
  width: 1700px;
  padding-left: 200px;
}

body .text-block h2 {
  width: 400px;
  margin-right: 1000px;
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.mySlides {
  display: none;
}

img {
  border: 0;
}

.slideshow-container {
  height: 311px;
  width: 669px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #656565;
          box-shadow: 0 0 10px #656565;
  border: 5px;
  margin: 60px 630px 0 0;
}

.dot {
  z-index: 2;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dots-carousel {
  padding: 7px 0 0 20px;
  text-align: left;
}

div.dots-carousel {
  position: absolute;
  z-index: 5;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

div {
  display: block;
}

.controls {
  float: left;
  margin-right: 5px;
  background-image: url(/assets/stylesheets/images/icon-b-pause-dark.png);
  background-repeat: repeat-none;
}

.carousel-clip {
  position: relative;
  overflow: hidden;
  width: 669px;
  height: 311px;
}

.carousel-clip:before {
  display: table;
  content: "";
  line-height: 0;
}

.carousel-clip:after {
  display: table;
  content: "";
  line-height: 0;
}

.carousel-wrapper {
  display: block;
  text-align: start;
  float: none;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: auto;
  width: auto;
  height: 311px;
  margin: 0px;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-wrapper .carousel-item {
  display: block;
}

.carousel-item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item-caption a {
  color: #fff;
  display: block;
  padding: 16px;
}

.has-js .carousel-item {
  display: none;
}

.carousel-item {
  position: relative;
  float: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 [class^="h-"],
[class*=" h-"] {
  text-rendering: optimizeLegibility;
  margin: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

main {
  height: 100%;
  margin-top: 60px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 100%;
  padding-left: 2.5%;
}

.main-panel .selector-card {
  width: 1050px;
  height: 130px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel .selector-card #checkbox1,
.main-panel .selector-card #checkbox2,
.main-panel .selector-card #checkbox3 {
  display: none;
}

.main-panel .selector-card .checkboxes {
  height: inherit;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  padding: 0 0 20px 30px;
}

.main-panel .selector-card .checkboxes div {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 30px -20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel .selector-card .checkboxes div p {
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.main-panel .card {
  padding: 30px;
  width: 1050px;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  display: block;
}

.main-panel .card h2 {
  display: none;
}

.main-panel .card .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 50px 0;
}

.main-panel .card .card-container .info {
  width: 100%;
}

.main-panel .card .card-container img {
  position: absolute;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-panel .card .card-container h3 {
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  width: 70%;
}

.main-panel .card .card-container p {
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 80%;
  margin-top: 8px;
}

.main-panel .card .card-container time {
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

button {
  margin: 40px 0 40px 0;
  width: 300px;
  height: 80px;
  border-radius: 30px;
  background-color: white;
  color: #2F2D36;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 0.7px;
  cursor: pointer;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
}

.side-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 660px;
  padding-left: 5%;
  padding-right: 5%;
}

.side-menus h2 {
  display: none;
}

.link-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 270px;
  border-radius: 20px;
  background-color: #2F2D36;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.link-menu ul {
  list-style: none;
  line-height: 40px;
  margin-right: 120px;
}

.link-menu a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.aside-press-kontakt {
  background-color: white;
  width: 280px;
  height: 150px;
  border-radius: 20px;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.aside-press-kontakt h3 {
  margin: 15px 0 0 30px;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.aside-press-kontakt p {
  margin: 15px 0 0 30px;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.aside-press-kontakt ul {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside-press-kontakt ul .tel,
.aside-press-kontakt ul .my-news-desk {
  width: 50px;
}

.aside-press-kontakt ul .tel a,
.aside-press-kontakt ul .my-news-desk a {
  margin-top: 4px;
  color: white;
}

.aside-press-kontakt ul .e-post {
  width: 100px;
  margin: 0 10px 0 10px;
}

.aside-press-kontakt ul .e-post a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.aside-press-kontakt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2F2D36;
  border-radius: 10px;
  height: 50px;
}

.aside-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 280px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.aside-menu h3 {
  margin: 15px 0 0 30px;
  color: #2F2D36;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow: hidden;
}

.aside-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 70%;
}

.aside-menu-icons {
  list-style: none;
  margin-left: 30px;
}

.aside-menu-icons li {
  margin-top: 30px;
  margin-bottom: 30px;
}

.aside-menu-list {
  width: 40%;
  margin-right: 30px;
  list-style: none;
}

.aside-menu-list li {
  margin-top: 27px;
  margin-bottom: 20px;
}

.aside-menu-list a {
  color: #656565;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: lightyellow;
}

@media screen and (max-width: 1500px) {
  body h1 {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block {
    width: 100%;
    padding-left: 10%;
  }
  .slideshow-container {
    display: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
  }
  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .main-panel .card {
    width: 80%;
    margin-left: 0;
  }
  .main-panel .selector-card {
    width: 85%;
    padding-right: 3%;
  }
  .side-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 900px;
    height: 380px;
    padding: 0;
  }
  .aside-menu {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 950px) {
  body h1 {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block {
    width: 100%;
    padding-left: 10%;
  }
  body .text-block h2 {
    width: 300px;
  }
  .main-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-panel .selector-card {
    width: 230%;
    height: 280px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 5%;
  }
  .main-panel .selector-card .checkboxes div {
    height: 70px;
  }
  .main-panel .selector-card .checkboxes div p {
    font-size: 15px;
  }
  .main-panel .card {
    width: 90%;
  }
  .main-panel .card .card-container {
    padding: 30px 0;
  }
  .main-panel .card .card-container .info {
    width: 70%;
    margin-right: 30%;
  }
  .main-panel .card .card-container h3 {
    font-size: 15px;
  }
  .side-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
    height: 660px;
  }
  .aside-menu {
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */