$white: white;
$darkGray: #2f2d36;
$gray: #656565;
$backgroundColor: #f1f5f7;
$cardtopcolor: rgba(255, 250, 194, 1);

$hugeText: 40px;
$largeText: 20px;
$normalText: 15px;
$smallText: 13px;

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  border-color: transparent;
  letter-spacing: 0.5px;
}

body {
  @include flexbox(column, center, center);

  margin: 0;
  height: 100%;
  background-color: $backgroundColor;

  h1 {
    // Titel
    width: 1700px;
    padding-top: 100px;
    padding-left: 200px;
    color: $darkGray;
    font-family: "Roboto", sans-serif;
    font-size: $hugeText;
    font-weight: bold;
  }

  h2 {
    // Sub title
    width: 1700px;
    padding-left: 200px;
    color: $gray;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: $largeText;
    font-weight: 600;
  }
}

main {
  height: 100%;
  margin-top: 60px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 1250px;
  height: 1020px;
  margin-left: 5%;
  background-color: $white;
  border-radius: 20px;
  box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow-y: hidden;

  h2 {
    display: none;
  }

  .images {
    position: absolute;
    overflow: visible;
    background-color: $cardtopcolor;
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 150px;

    #image1 {
      position: absolute;
      width: 308.194px;
      height: 150px;
      top: 0px;
      overflow: visible;
      right: 25px;
    }

    #image2 {
      position: absolute;
      width: 308.194px;
      height: 150px;
      top: 0px;
      overflow: visible;
      right: 25px;
    }

    #image3 {
      position: absolute;
      width: 308.194px;
      height: 150px;
      top: 0px;
      overflow: visible;
      right: 25px;
    }
  }
}

.card-text {
  width: 80%;
  position: absolute;
  top: 170px;
  left: 25px;
  bottom: 40px;
  overflow-y: hidden;
  .text1 h3 {
    margin-bottom: 30px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-weight: bold;
    font-size: $largeText;
    color: rgba(47, 45, 54, 1);
  }

  .text2 {
    margin-bottom: 10px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: $normalText;
    color: rgba(47, 45, 54, 1);
  }

  .text3 {
    margin-bottom: 10px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: $normalText;
    color: rgba(47, 45, 54, 1);
  }

  .text4 {
    margin-bottom: 40px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: $normalText;
    color: rgba(47, 45, 54, 1);
  }

  .text5 {
    margin-bottom: 20px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: $normalText;
    color: rgba(47, 45, 54, 1);

    h3 {
      margin-bottom: 10px;
    }
  }

  .text6 {
    margin-bottom: 20px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: $normalText;
    color: rgba(47, 45, 54, 1);

    h4 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .text7 {
    margin-bottom: 20px;
    overflow: visible;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: $normalText;
    color: rgba(47, 45, 54, 1);

    h4 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}

.slide-btn {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
  display: none;
}

.side-menus {
  @include flexbox(column, space-between, center);

  width: 400px;
  height: 630px;
  padding-left: 5%;
  padding-right: 5%;

  h2 {
    display: none;
  }
}

.link-menu {
  @include flexbox(column, center, center);
  width: 300px;
  height: 400px;
  border-radius: 20px;

  background-color: $darkGray;
  box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);

  ul {
    list-style: none;
    line-height: 40px;
  }

  a {
    color: $white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
}

.aside-menu {
  @include flexbox(row, space-around, center);

  width: 280px;
  height: 150px;
  margin-bottom: 30px;

  border-radius: 20px;
  background-color: $white;
  box-shadow: -8px 8px 40px -20px rgba(0, 0, 0, 0.5);
}

.aside-menu-icons {
  list-style: none;
  margin-left: 30px;

  li {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.aside-menu-list {
  width: 50%;
  margin-right: 30px;
  list-style: none;

  li {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  a {
    color: $gray;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
  }
}

footer {
  width: 100%;
  height: 300px;
  background-color: lightyellow;
}

@media screen and (max-width: 1500px) {
  body {
    h1 {
      width: 100%;
      padding-left: 10%;
    }

    h2 {
      width: 100%;
      padding-left: 10%;
    }
  }

  main {
    @include flexbox(column, space-around, center);
    width: 100vw;
  }

  .card {
    width: 80%;
    margin-left: 0;
  }

  .side-menus {
    @include flexbox(row, space-between, flex-start);

    width: 600px;
    height: 510px;
    margin-top: 20px;
    padding: 0;
  }

  .aside-menu {
    margin-bottom: 250px;
  }
}

@media screen and (max-width: 1010px) {
  .card {
    height: 700px;
    width: 90%;

    .slide-btn {
      display: block;
    }
  }

  .card.expanded {
    height: 1050px;
    overflow: hidden;
    .slide-btn {
      transform: rotate(0deg);
    }

    .Path_4_bm {
      display: none;
    }
  }
}

@media screen and (max-width: 840px) {
  .card.expanded {
    height: 1100px;
  }
}

@media screen and (max-width: 750px) {
  body {
    h2 {
      width: 80%;
    }
  }

  .card {
    height: 700px;
    width: 90%;

    .slide-btn {
      display: block;
    }
  }

  .card.expanded {
    height: 1170px;
    overflow: hidden;
    .slide-btn {
      transform: rotate(0deg);
    }
  }

  .side-menus {
    width: 500px;
    height: 630px;
    margin-right: 0;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .link-menu {
    margin-top: 60px;
  }

  .aside-menu {
    margin-bottom: 0;
    margin-top: 40px;
  }
}

@media screen and (max-width: 700px) {
  .card.expanded {
    height: 1250px;
  }
}

@media screen and (max-width: 650px) {
  .card.expanded {
    height: 1300px;
  }
}

@media screen and (max-width: 600px) {
  .card.expanded {
    height: 1350px;
  }
}

@media screen and (max-width: 550px) {
  .card.expanded {
    height: 1450px;
  }
}

@media screen and (max-width: 500px) {
  .card.expanded {
    height: 1570px;
  }
}

@media screen and (max-width: 450px) {
  .card.expanded {
    height: 1700px;
  }
}

@media screen and (max-width: 400px) {
  .card.expanded {
    height: 1850px;
  }
}

@media screen and (max-width: 360px) {
  .card.expanded {
    height: 2000px;
  }
}

@media screen and (max-width: 335px) {
  .card.expanded {
    height: 2100px;
  }
}

@media screen and (max-width: 310px) {
  .card.expanded {
    height: 2300px;
  }
}

@media screen and (max-width: 290px) {
  .card.expanded {
    height: 2400px;
  }
}
