* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#footer-grid {
  display: none;
}

.footer {
  background: #fff695;
  padding: 1rem 0;
}

.grid-s {
  margin: auto;
  width: 90%;
  display: grid;
  gap: 1rem;
  grid-template: "top top" "center center" "bottom-left bottom-right";
}
.grid-s__top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: top;
}
.grid-s__center {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: center;
}
.grid-s__bottom-left {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: bottom-left;
  display: flex;
  align-items: flex-end;
}
.grid-s__bottom-left h4 {
  font-size: 13px;
  font-weight: bold;
}
.grid-s__bottom-left p {
  font-size: 12px;
}
.grid-s__bottom-right {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: bottom-right;
}

.footer-s__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  overflow: hidden;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.footer-s__card .card-text {
  margin-left: 1rem;
}
.footer-s__links {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  width: 100%;
}
.footer-s__link {
  flex: 1 1 auto;
  color: #656565;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer-s__link:visited {
  color: #656565;
}
.footer-s__link:hover, .footer-s__link:focus, .footer-s__link:active {
  color: #000;
  background: #f1f5f7;
  text-decoration: underline;
  cursor: pointer;
}

.icon-2x {
  font-size: 2rem;
}

@media screen and (min-width: 1000px) {
  #footer-grid-s {
    display: none;
  }

  #footer-grid {
    display: block;
  }

  .footer::after {
    content: "";
    display: block;
    clear: both;
  }
  .footer__grid {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 1rem;
  }
  .footer__item {
    margin-top: 2rem;
  }
  .footer__links {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    list-style-type: none;
  }
  .footer__link {
    flex: 1 1 auto;
    color: #656565;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .footer__link:visited {
    color: #656565;
  }
  .footer__link:hover, .footer__link:focus, .footer__link:active {
    color: #000;
    background: #f1f5f7;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__card {
    height: 150px;
    overflow: hidden;
    padding: 1rem;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, 0.59);
    border-radius: 20px;
  }
  .footer__card-info {
    display: none;
    animation-duration: 0.5s;
    animation-name: fadeOutOpacity;
  }
  .footer__card-info--active {
    display: block;
    animation-duration: 0.5s;
    animation-name: fadeInOpacity;
  }
  .footer__card-info a {
    color: #252525;
    text-decoration: none;
    font-weight: bold;
  }
  .footer__card-info a:visited {
    color: #252525;
  }
  .footer__card-info a:hover,
.footer__card-info a:focus,
.footer__card-info a:active {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  .footer__card-info ul {
    list-style-type: none;
  }
  .footer__card-info h4 {
    font-size: 1.1rem;
  }
  .footer__publisher {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    float: right;
  }
  .footer__publisher h4 {
    font-size: 13px;
    font-weight: bold;
  }
  .footer__publisher p {
    font-size: 12px;
  }

  .social-icons a {
    color: #656565;
  }
  .social-icons a:hover,
.social-icons a:focus {
    color: black;
  }
  .social-icons .social-icon {
    width: 50px;
    height: 50px;
    font-size: 3rem;
    padding: 0.5rem 0.5rem;
  }

  @keyframes fadeInOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOutOpacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
@media screen and (min-width: 1150px) {
  .footer__link {
    font-size: 20px;
  }
}
* {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.lds-default {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}